USE [bluetek]
GO
/****** Object:  Table [dbo].[core_estacionmeteorologica]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_estacionmeteorologica](
	[codigo_nacional] [nvarchar](10) NOT NULL,
	[nombre_estacion] [nvarchar](100) NOT NULL,
	[latitud] [numeric](10, 5) NOT NULL,
	[longitud] [numeric](10, 5) NOT NULL,
	[altura] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_nacional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_habitacion]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_habitacion](
	[id_habitacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[forma_svg] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_materialzona]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_materialzona](
	[id_materialzona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NULL,
	[cantidad_m2] [numeric](12, 2) NULL,
	[id_zona_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materialzona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_material_zona_nombre] UNIQUE NONCLUSTERED 
(
	[id_zona_id] ASC,
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_medicion]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_medicion](
	[id_medicion] [int] IDENTITY(1,1) NOT NULL,
	[valor] [numeric](8, 2) NOT NULL,
	[unidad] [nvarchar](10) NOT NULL,
	[timestamp] [datetimeoffset](7) NOT NULL,
	[id_sensor_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_medicionmeteorologica]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_medicionmeteorologica](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[momento] [datetimeoffset](7) NOT NULL,
	[temperatura] [numeric](5, 2) NULL,
	[temperatura_minima_12h] [numeric](5, 2) NULL,
	[temperatura_maxima_12h] [numeric](5, 2) NULL,
	[humedad_relativa] [numeric](5, 2) NULL,
	[codigo_nacional_id] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_oficina]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_oficina](
	[id_oficina] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[georeferencia] [nvarchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_oficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_oficinaestacion]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_oficinaestacion](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[principal] [bit] NOT NULL,
	[distancia_km] [numeric](6, 2) NULL,
	[codigo_nacional_id] [nvarchar](10) NOT NULL,
	[id_oficina_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_oficina_estacion] UNIQUE NONCLUSTERED 
(
	[id_oficina_id] ASC,
	[codigo_nacional_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_posicionsolar]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_posicionsolar](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[momento] [datetimeoffset](7) NOT NULL,
	[elevacion] [numeric](6, 3) NULL,
	[azimut] [numeric](6, 3) NULL,
	[codigo_nacional_id] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_posicion_solar] UNIQUE NONCLUSTERED 
(
	[codigo_nacional_id] ASC,
	[momento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_prediccionclima]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_prediccionclima](
	[id_registro] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha_hora_inicio] [datetimeoffset](7) NOT NULL,
	[temperatura] [numeric](4, 1) NOT NULL,
	[sensacion_termica] [numeric](4, 1) NULL,
	[humedad_relativa] [smallint] NULL,
	[cobertura_nubes] [smallint] NULL,
	[prob_precipitacion] [smallint] NULL,
	[precipitacion_qpf] [numeric](4, 1) NULL,
	[viento_velocidad] [numeric](4, 1) NULL,
	[viento_direccion_cardinal] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_sensor]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_sensor](
	[id_sensor] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
	[id_habitacion_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sensor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_thermostato]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_thermostato](
	[id_thermostato] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[id_sensor_id] [int] NULL,
	[id_zona_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_thermostato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_tipozona]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_tipozona](
	[id_tipozona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipozona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_zona]    Script Date: 06-10-2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_zona](
	[id_zona] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[orientacion] [nvarchar](1) NULL,
	[superficie_m3] [numeric](12, 2) NULL,
	[cantidad_equipos] [int] NULL,
	[id_habitacion_id] [int] NULL,
	[id_oficina_id] [int] NOT NULL,
	[id_tipozona_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[core_materialzona]  WITH CHECK ADD  CONSTRAINT [core_materialzona_id_zona_id_f983ff56_fk_core_zona_id_zona] FOREIGN KEY([id_zona_id])
REFERENCES [dbo].[core_zona] ([id_zona])
GO
ALTER TABLE [dbo].[core_materialzona] CHECK CONSTRAINT [core_materialzona_id_zona_id_f983ff56_fk_core_zona_id_zona]
GO
ALTER TABLE [dbo].[core_medicion]  WITH CHECK ADD  CONSTRAINT [core_medicion_id_sensor_id_1ba0352b_fk_core_sensor_id_sensor] FOREIGN KEY([id_sensor_id])
REFERENCES [dbo].[core_sensor] ([id_sensor])
GO
ALTER TABLE [dbo].[core_medicion] CHECK CONSTRAINT [core_medicion_id_sensor_id_1ba0352b_fk_core_sensor_id_sensor]
GO
ALTER TABLE [dbo].[core_medicionmeteorologica]  WITH CHECK ADD  CONSTRAINT [core_medicionmeteorologica_codigo_nacional_id_4382bde0_fk_core_estacionmeteorologica_codigo_nacional] FOREIGN KEY([codigo_nacional_id])
REFERENCES [dbo].[core_estacionmeteorologica] ([codigo_nacional])
GO
ALTER TABLE [dbo].[core_medicionmeteorologica] CHECK CONSTRAINT [core_medicionmeteorologica_codigo_nacional_id_4382bde0_fk_core_estacionmeteorologica_codigo_nacional]
GO
ALTER TABLE [dbo].[core_oficinaestacion]  WITH CHECK ADD  CONSTRAINT [core_oficinaestacion_codigo_nacional_id_c89533b8_fk_core_estacionmeteorologica_codigo_nacional] FOREIGN KEY([codigo_nacional_id])
REFERENCES [dbo].[core_estacionmeteorologica] ([codigo_nacional])
GO
ALTER TABLE [dbo].[core_oficinaestacion] CHECK CONSTRAINT [core_oficinaestacion_codigo_nacional_id_c89533b8_fk_core_estacionmeteorologica_codigo_nacional]
GO
ALTER TABLE [dbo].[core_oficinaestacion]  WITH CHECK ADD  CONSTRAINT [core_oficinaestacion_id_oficina_id_ebd17f1b_fk_core_oficina_id_oficina] FOREIGN KEY([id_oficina_id])
REFERENCES [dbo].[core_oficina] ([id_oficina])
GO
ALTER TABLE [dbo].[core_oficinaestacion] CHECK CONSTRAINT [core_oficinaestacion_id_oficina_id_ebd17f1b_fk_core_oficina_id_oficina]
GO
ALTER TABLE [dbo].[core_posicionsolar]  WITH CHECK ADD  CONSTRAINT [core_posicionsolar_codigo_nacional_id_66f5d9eb_fk_core_estacionmeteorologica_codigo_nacional] FOREIGN KEY([codigo_nacional_id])
REFERENCES [dbo].[core_estacionmeteorologica] ([codigo_nacional])
GO
ALTER TABLE [dbo].[core_posicionsolar] CHECK CONSTRAINT [core_posicionsolar_codigo_nacional_id_66f5d9eb_fk_core_estacionmeteorologica_codigo_nacional]
GO
ALTER TABLE [dbo].[core_sensor]  WITH CHECK ADD  CONSTRAINT [core_sensor_id_habitacion_id_ee73a39b_fk_core_habitacion_id_habitacion] FOREIGN KEY([id_habitacion_id])
REFERENCES [dbo].[core_habitacion] ([id_habitacion])
GO
ALTER TABLE [dbo].[core_sensor] CHECK CONSTRAINT [core_sensor_id_habitacion_id_ee73a39b_fk_core_habitacion_id_habitacion]
GO
ALTER TABLE [dbo].[core_thermostato]  WITH CHECK ADD  CONSTRAINT [core_thermostato_id_sensor_id_710f77c6_fk_core_sensor_id_sensor] FOREIGN KEY([id_sensor_id])
REFERENCES [dbo].[core_sensor] ([id_sensor])
GO
ALTER TABLE [dbo].[core_thermostato] CHECK CONSTRAINT [core_thermostato_id_sensor_id_710f77c6_fk_core_sensor_id_sensor]
GO
ALTER TABLE [dbo].[core_thermostato]  WITH CHECK ADD  CONSTRAINT [core_thermostato_id_zona_id_6f698c26_fk_core_zona_id_zona] FOREIGN KEY([id_zona_id])
REFERENCES [dbo].[core_zona] ([id_zona])
GO
ALTER TABLE [dbo].[core_thermostato] CHECK CONSTRAINT [core_thermostato_id_zona_id_6f698c26_fk_core_zona_id_zona]
GO
ALTER TABLE [dbo].[core_zona]  WITH CHECK ADD  CONSTRAINT [core_zona_id_habitacion_id_9f6ade6c_fk_core_habitacion_id_habitacion] FOREIGN KEY([id_habitacion_id])
REFERENCES [dbo].[core_habitacion] ([id_habitacion])
GO
ALTER TABLE [dbo].[core_zona] CHECK CONSTRAINT [core_zona_id_habitacion_id_9f6ade6c_fk_core_habitacion_id_habitacion]
GO
ALTER TABLE [dbo].[core_zona]  WITH CHECK ADD  CONSTRAINT [core_zona_id_oficina_id_10b60065_fk_core_oficina_id_oficina] FOREIGN KEY([id_oficina_id])
REFERENCES [dbo].[core_oficina] ([id_oficina])
GO
ALTER TABLE [dbo].[core_zona] CHECK CONSTRAINT [core_zona_id_oficina_id_10b60065_fk_core_oficina_id_oficina]
GO
ALTER TABLE [dbo].[core_zona]  WITH CHECK ADD  CONSTRAINT [core_zona_id_tipozona_id_21d725b2_fk_core_tipozona_id_tipozona] FOREIGN KEY([id_tipozona_id])
REFERENCES [dbo].[core_tipozona] ([id_tipozona])
GO
ALTER TABLE [dbo].[core_zona] CHECK CONSTRAINT [core_zona_id_tipozona_id_21d725b2_fk_core_tipozona_id_tipozona]
GO
